<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION SUCCESSFUL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">



</head>
<body>

    {% block content %}


    <h3 class="text-center text-primary">Hi <b>{{title}} {{first_name}} {{surname}}</b>
        <br>
       Your BioData has create Successfully
            <br>
            <br>
        <a class="btn btn-primary text-center" href="http://localhost:8000/user/create?bio_row_id={{bio_row_id}}"> <i style="font-weight:bold;color:white;">Create an account</i></a>

        </h3>

  {% endblock %}
</body>
</html>